@{
    ViewData["Title"] = "FinWise Bot"; // Set your page title here
}

<div class="container p-1">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="container">
                <div class="d-flex align-items-center">
                    <img src="@Url.Content("~/images/bot_icon.png")" alt="Bot Icon" class="mr-2" />
                    <div>
                        <h3 id="bot-name" class="text-white">@Model.BotName</h1>
                            <h5 id="slogan" class="text-white">@Model.Slogan</h2>
                    </div>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-body">
                    <div id="chat-box" class="output" data-simplebar>
                        @foreach (var message in Model.ChatHistory)
                        {
                            <div class="@(message.Author == "user" ? "text-right mb-2" : "")">
                                @if (message.Author == "user")
                                {
                                    <strong>You:</strong> <span>@message.Content</span>
                                }
                                else
                                {
                                    <div id="bot-message" class="mb-2">
                                        <strong>Bot:</strong> <span>@message.Content</span>
                                    </div>
                                }
                            </div>
                        }
                        <div class="chat-bubble d-none" id="typing-dots">
                            <div class="typing">
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <form method="POST" asp-action="Chat" class="d-flex">
                <input type="text" autocomplete="off" id="user-prompt" name="prompt" class="form-control mt-3 mr-2"
                    placeholder="Enter a prompt" class="form-control">
                <button type="submit" id="submit-button" class="btn btn-secondary mt-3">
                    <img src="@Url.Content("~/images/send_button.png")" alt="Send Button" class="mr-2">
                </button>
            </form>
        </div>
    </div>


</div>
<script>
    document.getElementById('submit-button').addEventListener('click', function () {
        document.getElementById('typing-dots').classList.remove('d-none');
        scrollToBottom();
    });

    window.onload = function () {
        scrollToBottom();
    }

    function scrollToBottom() {
        var container = document.querySelector('#chat-box .simplebar-content-wrapper');
        container.scrollTo({ top: container.scrollHeight });
    }
</script>
